
.sidebar {
        background-color: var(--main-color);
        color: white;
}

.navItem {
        cursor: pointer;
        transition: background 0.5s;

}


.navItem:hover {
        background-color: rgb(72, 146, 146);
}
.icon , 
.LinkTitle {
        font-size: 1.5rem;
}



